body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(218, 238, 227);
  overflow-x: hidden;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.navbar {
  background-color: darkgreen !important;
}

.nav-link, .navbar-brand {
  font-weight: 600;
}

.nav-link {
  color: rgba(255,255,255,.75) !important;
}

.nav-link:hover {
  color: rgba(255,255,255,1) !important;
}

.hero-img {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("../images/farm.jpg");

  /* Set a specific height */
  height: 800px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero__first-row {
  height: 75%;
}

.hero-title {
  font-size: 120px;
  font-weight: 700;
  text-transform: capitalize;
  color: darkgreen;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.logo-img {
  max-height: 80px;
  display: inline;
}

.cta-btn {
  color: white;
  background-color: rgb(255, 196, 0);
  border: 1px solid white;
  border-radius: 20px;
  font-size: 40px;
  max-width: 200px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 80px;
  padding-right: 80px;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.cta-btn:hover {
  text-transform: none;
  color: white !important;
}

.content-title {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 600;
  color: darkgreen;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.faq-question {
  font-size: 22px;
  color: blue;
  font-style: italic;
}



/* TODO: mediaquery/bootstrap class to change inline display to block on small screens for hero section stuff */
/* TODO: mediaquery remove bottom poisition boost on logo-img on small screens */
@media only screen and (max-width: 1000px) {
  .logo-img {
    display: none !important;
  }
}

@media only screen and (max-width: 500px) {
  .logo-img {
    display: none !important;
  }

  .hero-title {
    font-size: 72px;
  }

  .cta-btn {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    bottom: 60px;
  }
}
