body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(218, 238, 227);
  overflow-x: hidden;
}

.navbar {
  background-color: darkgreen !important;
}

.nav-link, .navbar-brand {
  font-weight: 600;
}

.nav-link {
  color: rgba(255,255,255,.75) !important;
}

.nav-link:hover {
  color: rgba(255,255,255,1) !important;
}

.content-title {
   text-transform: uppercase;
   font-size: 48px;
   font-weight: 600;
   color: darkgreen;
   text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
 }

 #supplyform-title {
   margin-top: 40px;
 }