body {
   font-family: 'Montserrat', sans-serif;
}

.hero-img {
   /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
   background-image: url("./images/farm.jpg");
 
   /* Set a specific height */
   height: 500px;

   /* Position and center the image to scale nicely on all screens */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
 }

.logo-img {
   max-height: 150px;
   display: inline;
}

/* TODO: mediaquery/bootstrap class to change inline display to block on small screens for hero section stuff */
