body {
   font-family: 'Montserrat', sans-serif;
   background-color: rgb(218, 238, 227);
}

.hero-img {
   /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
   background-image: url("./images/farm.jpg");
 
   /* Set a specific height */
   height: 800px;

   /* Position and center the image to scale nicely on all screens */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
 }

 .hero-title {
    font-size: 72px;
    font-weight: 700;
 }

.logo-img {
   max-height: 80px;
   display: inline;
   position: relative;
   bottom: 20px;
}

.cta-btn {
   max-width: 200px;
}

.faq-question {

}

.faq-answer {

}
/* TODO: mediaquery/bootstrap class to change inline display to block on small screens for hero section stuff */
/* TODO: mediaquery remove bottom poisition boost on logo-img on small screens */
@media only screen and (max-width: 600px) {
   .logo-img {
     display: none !important;
   }
 }